*.swp
*.pyc
*.py~
.DS_Store
.idea

# Setuptools distribution and build folders.
/dist/
/build
keys/

# Virtualenv
/env


*.sublime-project
*.sublime-workspace

.idea

logs/
log/
expert/
saved_networks/

.ipynb_checkpoints
ghostdriver.log

htmlcov

junk
src

*.egg-info
.cache

MUJOCO_LOG.TXT

